@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Helvetica;
}

.nav {
  @apply flex w-full p-5 fixed bg-neutral-700 text-white justify-between;
  margin-bottom: 40px;
}

.main-container {
  min-height: 82.5vh;
  padding-top: 100px;
}

.nav_link {
  @apply font-bold sm:text-xl text-sm p-1 border-b-2 border-transparent hover:border-white duration-500;
}

.pokemon-container {
  @apply flex flex-wrap justify-center items-center my-0 mx-auto md:justify-around lg:justify-between  gap-4;
  max-width: 1100px;
}

.card {
  @apply shadow-lg rounded-xl border-2 bg-neutral-700 text-white border-red-500  flex justify-center items-center flex-col;
  padding: 2em 1em;
  min-width: 23%;
  margin-bottom: 2em;
}

.btn {
  @apply border px-10 py-2 hover:bg-red-500 hover:text-white rounded-md duration-500 font-bold bg-white text-neutral-700;
}

h3 {
  @apply font-bold text-xl text-center mb-4;
}

h4 {
  @apply font-bold;
}
.type {
  @apply text-white font-semibold py-2 px-3 bg-black mr-2 border border-gray-200 rounded-lg uppercase;
}

.type_normal {
  background-color: #aa9;
}

.type_fire {
  background-color: #f42;
}

.type_water {
  background-color: #39f;
}

.type_eletric {
  background-color: #fc3;
}

.type_grass {
  background-color: #7c5;
}

.type_ice {
  background-color: #6cf;
}

.type_fighting {
  background-color: #b54;
}

.type_poison {
  background-color: #a59;
}

.type_ground {
  background-color: #db5;
}

.type_flying {
  background-color: #89f;
}

.type_psychic {
  background-color: #f59;
}

.type_bug {
  background-color: #ab2;
}

.type_rock {
  background-color: #ba6;
}

.type_ghost {
  background-color: #66b;
}

.type_dragon {
  background-color: #76e;
}

.type_dark {
  background-color: #754;
}

.type_steel {
  background-color: #aab;
}

.type_fairy {
  background-color: #e9e;
}
